*{

    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    top: 0;
    left: 0;
    background:linear-gradient(#0b0811,#151120,#251f33,#950c2a,#fa1e4e);
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 0px;
    background-color: #251f33;
}

.header #hdi{
    margin: 0px 8px;
    color: #9d9d9d;
}

.header span{
    color: #9d9d9d;
}

.searchbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.searchbar input{
    border: none;   
    width: 100%;
    background-color: #251f33;
    padding: 0% 10px;
}

.searchbar input:focus {
    border-color:  #251f33;
    color: aliceblue;
 }
  

.main{
    box-sizing: border-box;
    width:100%;
    padding:5% 10%;
}

.title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title h2{
    font-size: 50px;
    color: #fff;
}

.title #mc{
    display: flex;
    align-items: center;
    color: #fff;
}

.title span{
    padding-left: 10px;
}

.title i{
    padding-left: 10px;
}

.title a{
    padding: 13px;
    margin-left: 10px;
    background-color: #fa1e4e ;
    border-radius: 20px;
    font-size: 13px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}

.title #txt{
    font-size: 13px;
}

.title #btnstg{
    display: flex;
    align-items: center;
    justify-content: center;
    height:  15px;
    width: 15px;
    border-radius: 80px;
    border:1px solid #fa1e4e ;
    margin-left: 10px;
    padding: 8px;
}

.title #btnstg i{
    padding: 8px;
    font-size: 16px;
}

.first-box{
    width: 100%;
    margin-bottom: 20px;
}

.categories{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.slider-1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.game-card{
    width: 100px;
    height: 125px;
    background-color: pink;
    /* clip-path: polygon(10% 10%,60% 10%,10% 10%,10% 10%,10% 10%,10% 10%); */

} 

.sec-box{
    width: 100%;
    margin-bottom: 20px;
}

.selected{
    display: flex;

}

.slider-2{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;

}

.slider-2 #hid{
    visibility: hidden;

}

.game-card-b{
    width: 200px;
    height: 225px;
    background-color: yellow;

}

.video{
    display: flex;
    align-items: center;

    width: 100%;
}

.video iframe{
    width: 65%;
    height: 400px;
}
