*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    overflow-x: hidden;
    background-color: coral;
    min-height: 100vh;
}

#header{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    padding:30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#header .logo{
    color:tomato;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

#header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li{
    list-style: none;
    margin-left: 20px;
}

#header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: black;
    border-radius: 20px;
}

section img{
    position: absolute;
    top: 0px;
    left: 0;
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
    pointer-events: none;
}

section #text{
    position: absolute;
    color: black;
    font-size: 10vw;
    text-align: center;
    line-height: .55em;
    font-family: 'Rancho' ;
    transform: translateY(-50%);
}

section #text span{
    font-size: .20em;
    letter-spacing: 2px;
    font-weight: 400;

}

#header ul li a:hover,
#header ul li a:active{
    background-color: orange;
    color:#fff;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index:10;
}

#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background: #fff;
    color: blue;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translateY(100px);
}

.sec{
    position: relative;
    padding: 100px;
    background: pink;
}

.sec h2{
    font-size: 3.5em;
    color: #fff;
    margin-bottom: 10px;
}

.sec p{
    font-size: 1em;
    color: #fff;
}

footer{
    position:relative;
    padding: 0px 100px;
    background: orange;
}

footer a{
    text-decoration: none;
    color: #fff;
}